---
---
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/static/css/deadlines.css" | prepend:site.baseurl }}">
    <link rel="shortcut icon" href="{{ "/static/img/favicon.png" | prepend:site.baseurl }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
      .custom-nav-color {
        background-color: #8b0029
      }
    </style>
  </head>
  <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-dark custom-nav-color">
          <div class="container">
            <a class="navbar-brand" href="#">
            <img src="/static/img/logo.png" alt="SSP" width="91" height="35" class="d-inline-block align-text-top me-2">
              {{ site.title }}  <a href="https://ssp.korea.ac.kr" class="text-decoration-none text-light">Software Security and Privacy Laboratory @ Korea University</a>
            </a>
          </div>
        </nav>

    <div class="container py-5">
      <div class="card shadow-sm mb-5">
        <div class="card-body">
          <div class="row align-items-center mb-4">
            <div class="col-lg-12">
              <h3>Security & Software Engineering Conference(Selected)</h3>
              <p> The D-day countdown is based on the deadlines for "Research Papers Full Paper Submission"</p>
              <p class="lead text-muted">{{ site.english_description }}</p>
              <p class="lead text-muted">{{ site.description }}</p>
              <iframe src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12">
              <div class="p-3 bg-light rounded">
                <p class="mb-2 fw-bold">Filter by tags:</p>
                <form class="form-inline">
                  <div class="d-flex flex-wrap gap-3">
                    {% for type in site.data.types %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="{{ type.tag }}-checkbox">
                      <label class="form-check-label" for="{{ type.tag }}-checkbox">
                        {{ type.name }}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="conf-container">
        {% for conf in site.data.conferences %}
        {% assign num_deadlines = conf.deadline.size %}
        {% assign range_end = conf.deadline.size | minus: 1 %}
        {% for i in (0..range_end) %}
        {% assign year = conf.year %}
        {% assign prevyear = conf.year | minus: 1 %}
        {% assign deadline = conf.deadline[i] | replace: '%y', year | replace: '%Y', prevyear %}
        {% assign conf_id = conf.name | append: conf.year | append: '-' | append: i | slugify %}
        <div id="{{ conf_id }}" class="conf card shadow-sm mb-4 {% for tag in conf.tags %} {{tag}} {% endfor %}">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <h3 class="card-title">
                  <a href="{{conf.link}}" class="text-decoration-none">{{conf.name}} {{conf.year}}</a>
                </h3>
                <div class="text-muted">
                  {{ conf.description }}<br>
                  {{conf.date | replace: '-', '–'}}
                  {% if conf.place %}// <a href="http://maps.google.com/?q={{conf.place}}">{{conf.place}}</a>{% endif %}
                </div>
              </div>
              <div class="col-lg-6">
                <span class="timer"></span>
                <div class="deadline">
                  <div>
                      {% if num_deadlines >=2 %}
                      Deadline ({{ i | plus: 1 }} / {{ num_deadlines }}):
                      {% else %}
                      Deadline:
                      {% endif %}
                    <span class="deadline-time">
                      {{ deadline }}
                    </span>
                    <div class="meta">
                      {{ conf.comment }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endfor %}
      </div>

      <footer class="text-center text-muted py-4">
        Maintained by <a href="https://ssp.korea.ac.kr">SSP @ KU</a>. Created by <a href="https://github.com/heedongy">Heedong Yang</a> based on sec-deadlines.github.io by <a href="https://github.com/sec-deadlines/sec-deadlines.github.io"> Bogdan Kulynych</a>
      </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js" integrity="sha512-lteuRD+aUENrZPTXWFRPTBcDDxIGWe5uu0apPEn+3ZKYDwDaEErIK9rvR0QzUGmUQ55KFE2RqGTVoZsKctGMVw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data-10-year-range.min.js" integrity="sha512-d11VXfxQMn+sZuIgzHITdIuInr4cVRGV/uLiSI643WH/J+p4gPFYSHXRMR2v+w4Rn2TSyzJjsZjc0M7+Qd+UXw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/store.js/2.0.12/store.legacy.min.js" integrity="sha512-3yZTInL4yLU1ajnca35KTk6YE4RPHJU2y+jbhHAykE9OzMHpc2BIJghNsbkBNacIJWLLUmUkLEGPDDWrFY2zzw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ site.baseurl}}/static/js/main.js" async></script>
    {% if site.ga_id %}
    {% include analytics.html %}
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
